.col-md-6
  form#formRegion
    .card.card-tasks
      .card-header
        .d-flex.justify-content-between
          h4.card-title 지역관리
          button.btn.btn-primary(type='button' onclick='fnCreate("region", "#formRegion")') 저장
      .card-body.overflow-auto(style='max-height:300px;')
        .table-full-width.table-responsive
          table.table
            thead.text-primary
              tr
                th.text-center #
                th.text-center 지역명
                th.text-center
            tbody#new_region
              each r, i in region
                tr
                  td.text-center #{i + 1}
                  td.text-center
                    .form-group.my-0
                      input.form-control(type='text', value=r.region_name)
                  td.td-actions.text-right
                    button.btn.btn-info.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', onclick='fnUpdate("' + r._id + '", this, "region")')
                      i.now-ui-icons.ui-2_settings-90
                    button.btn.btn-danger.btn-round.btn-icon.btn-icon-mini.btn-neutral(type='button', onclick='fnDelete("' + r._id + '", this, "region")')
                      i.now-ui-icons.ui-1_simple-remove
              tr
                td.text-center
                td.text-center
                  .form-group.my-0
                    input.form-control(type='text', name='region')
                td.text-center
                  a.btn.btn-info.btn-sm.px-2(onclick='fnNewRow("#new_region", "region")')
                    i.now-ui-icons.ui-1_simple-add.text-white(style='font-size:9px;')