extends admin_layout

block content
  .panel-header.panel-header-sm
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 가동보고서 작성 현황
          .card-body.overflow-auto(style='max-height:800px;')

block append_js