extends admin_layout

block content
  .panel-header.panel-header-sm
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 가동보고서 관리
          .card-body.overflow-auto(style='max-height:800px;')
            .row
              .col-5.col-md-2
                .form-group
                  label 시작일
                  input.form-control(type='text', name='start_date', value=_config.report_start)
              .col-5.col-md-2
                .form-group
                  label 종료일
                  input.form-control(type='text', name='end_date', value=_config.report_end)
              .col-2.col-md-2
                button.btn.btn-primary(type='button', onclick='fnSaveReportConfig()') 저장
block append_js
  script(src='/assets/js/custom/admin_operate.js')
  script.
    console.log(!{JSON.stringify(_config)})