extends layout

block content
  style.
    @media screen and (max-width: 991px) {
      .wrapper{height: calc(100vh - 160px);}
    }
  .wrapper
    .content
      .space-100
      .container.text-center
        .row
          .col
            h1.title K-TOP
            h4.text-white
              | 출결관리시스템
            br
            .buttons
              if(!user_lv)
                a.btn.btn-info.btn-lg.m-0(href='/login')
                  | log in
              else
                a.btn.btn-danger.btn-lg.m-0(href='/logout')
                  | log out