extends layout

block content
  .wrapper
    .container
      .row.mx-0.px-0
        .col-12.p-0.mt-5
          .card.text-center.mt-3
            .card-header.mt-3
              h4.text-dark 월간업무보고서
            .card-body.text-dark.overflow-auto(style='max-height:550px;')
              .list-group
                each item in list
                  a(href='/work/business/' + item.user_id + '/' + item.year + '/' + item.month).list-group-item.list-group.group-item.list-group-item-action
                    span #{item.year}년 &nbsp;
                    span #{item.month}월 &nbsp;
                    span 월간업무보고서
            .card-footer
              .d-flex.justify-content-center
                if(isReportBusiness)
                  a(href='#', onclick='fnShowBusiness("' + '/work/business/' + business.user_id + '/' + business.year + '/' + business.month + '")').btn.btn-primary 보고서 작성
                else
                  a(href='/work/business').btn.btn-primary 보고서 작성
block append_js
  script.
    function fnShowBusiness(url){
      if(confirm('이번달에 이미 작성된 월간업무보고서가 있습니다. 작성된 내용을 확인하시겠습니까?')){
        location.href = url;
      }
    }
    console.log(!{JSON.stringify(list)});
    console.log('business : ', !{JSON.stringify(business)});