extends layout

block content
  .wrapper
    .container.d-flex.align-self-center(style='padding-top:10vh; max-height:80vh')
      .card
        .card-header
          h3.m-3 공지사항
        .card-body
          div(style='height:50vh')
            table.table.table-bordered.table-striped.text-center
              thead
                tr
                  th #
                  th 제목
                  th 작성일
                  th 조회수
              tbody
                if(list.length > 0)
                  each item, idx in list
                    - var isNew = item.read_user.toString().split(',').indexOf(user_id);
                    tr
                      td #{idx + 1}
                      td
                        - if(isNew === -1)
                          img(src='/assets/svg/new_2.svg', width='20').mr-2
                        a(href='/notice/read/' + item._id) #{item.title}
                      td #{new Date(item.created).toLocaleDateString('ko')}
                      td #{item.read_count}
        .card-footer
  block append_js
    script.
