extends layout

block content
  .wrapper
    .container.d-flex.align-self-center(style='padding-top:10vh; max-height:80vh')
      .card
        .card-header
          h3.m-3 공지사항
        .card-body
          .row
            .col-md-8
              .form-group.h6
                label 제목
                .border-bottom.p-3 #{article.title}
            .col-md-4
              .form-group.h6
                label 작성자
                .border-bottom.p-3 #{article.writer}
          .row
            .col-12
              .form-group.h6
                label 내용
                .border.p-3#notice_content
          if(article.path)
            .row
              .col
                h6 첨부파일
            .row
              .col
                a(href='/docs' + article.path.replace('temps', ''), target='_blank') #{article.originalname}
        .card-footer
          .d-flex.justify-content-center
            a.btn.btn-info(href='/notice') 목록으로
block append_js
  script.
    let notice_content = `!{article.content.replace(/\r\n/g, '')}`;
    document.querySelector('#notice_content').innerHTML = notice_content;